<%
package templates

import (
    "os"
    "strings"
)

func Directory(w io.Writer, crumbs []string, list []os.FileInfo, totalSize int64) {
%>

<!DOCTYPE html>
<html>
<title><%= strings.Join(crumbs, "/") %></title>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/__gmdd__/github-markdown.min.css" type="text/css" media="all">
<link rel="stylesheet" href="/__gmdd__/gmdd.css" type="text/css" media="all">
</head>
<body>
<div class="markdown-body">
  <% if crumbs[1] != "" { %>
  <div id="directory-crumbs">
    <a href="/">/</a>
    <% for i := 1; i < len(crumbs) - 1; i++ { %>
      <a href="<%= strings.Join(crumbs[:i+1], "/") %>"><%= crumbs[i] %></a> /
    <% } %>
    <%= crumbs[len(crumbs)-1] %>
  </div>
  <% } %>
  <table id="directory">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="size">Size</th>
        <th class="modtime">Modified</th>
      </tr>
    </thead>
    <tbody>
    <% if crumbs[1] != "" { %>
      <tr>
        <td class="name">
          <% if len(crumbs) == 2 { %>
          <a href="/">
          <% } else { %>
          <a href="<%= strings.Join(crumbs[:len(crumbs)-1], "/") %>">
          <% } %>
            ..
          </a>
        </td>
        <td class="size">&mdash;</td>
        <td class="modtime"></td>
      </tr>
    <% } %>
    <% for _, info := range list { %>
      <tr>
        <td class="name">
          <% if crumbs[1] == "" { %>
          <a href="<%= "/" + info.Name()%>">
          <% } else { %>
          <a href="<%= strings.Join(append(crumbs, info.Name()), "/") %>">
          <% } %>
            <%= info.Name() %>
          </a>
        </td>
        <td class="size">
        <% if info.IsDir() { %>
          &mdash;
        <% } else { %>
          <%== info.Size() %>
        <% } %>
        </td>
        <td class="modtime"><%== info.ModTime().Format("2006-01-02 15:04:05") %></td>
      </tr>
    <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td class="totalsize" colspan="3">Total size: <%== totalSize %></td>
      </tr>
    </tfoot>
  </tbody>
</div>
</body>
</html>

<% } %>

