<%
package templates

import (
    "os"
    "strings"
)

func Directory(w io.Writer, crumbs []string, list []os.FileInfo, totalSize int64) {
%>

<!DOCTYPE html>
<html>
<title><%= strings.Join(crumbs, "/") %></title>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/__gmdd__/github-markdown.min.css" type="text/css" media="all">
<link rel="stylesheet" href="/__gmdd__/gmdd.css" type="text/css" media="all">
</head>
<body>
<div class="markdown-body">
  <% if crumbs[1] != "" { %>
  <div id="directory-crumbs">
    <a href="/">/</a>
    <% for i := 1; i < len(crumbs) - 1; i++ { %>
      <a href="<%= strings.Join(crumbs[:i+1], "/") %>"><%= crumbs[i] %></a> /
    <% } %>
    <%= crumbs[len(crumbs)-1] %>
  </div>
  <% } %>
  <table id="directory">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="size">Size</th>
        <th class="modtime">Modified</th>
      </tr>
    </thead>
    <tbody>
    <% if crumbs[1] != "" { %>
      <tr data-sort-method="none">
        <td class="name">
          <% if len(crumbs) == 2 { %>
          <a href="/">
          <% } else { %>
          <a href="<%= strings.Join(crumbs[:len(crumbs)-1], "/") %>">
          <% } %>
            ..
          </a>
        </td>
        <td class="size">&mdash;</td>
        <td class="modtime"></td>
      </tr>
    <% } %>
    <% for _, info := range list { %>
      <tr>
        <% if info.IsDir() { %>
        <td class="name" data-sort="d-<%= info.Name() %>">
        <% } else { %>
        <td class="name" data-sort="f-<%= info.Name() %>">
        <% } %>
          <% if crumbs[1] == "" { %>
          <a href="<%= "/" + info.Name() %>">
          <% } else { %>
          <a href="<%= strings.Join(append(crumbs, info.Name()), "/") %>">
          <% } %>
            <%= info.Name() %>
          </a>
        </td>
        <% if info.IsDir() { %>
        <td class="size" data-sort="-1">&mdash;</td>
        <% } else { %>
        <td class="size filesize" data-sort="<%== info.Size() %>"><%== info.Size() %></td>
        <% } %>
        <% modTime := info.ModTime().Format("2006-01-02 15:04:05") %>
        <td class="modtime moment" data-sort="<%== modTime %>"><%== modTime %></td>
      </tr>
    <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td class="totalsize" colspan="3">Total size: <span class="filesize"><%== totalSize %></span></td>
      </tr>
    </tfoot>
  </table>
</div>
<script src="/__gmdd__/filesize.min.js"></script>
<script src="/__gmdd__/moment.min.js"></script>
<script src="/__gmdd__/tablesort.min.js"></script>
<script src="/__gmdd__/tablesort.number.min.js"></script>
<script src="/__gmdd__/gmdd-dir.js"></script>
</body>
</html>

<% } %>

